a {
    text-decoration: none;
}
a.nav:link,a.nav:visited,a.nav:active {
    font-size: 20px;
}
a.nav:hover {
    color: whitesmoke;
    font-size: 21px;
}
nav.nav {
    background-color: blue;
    position: fixed;
    width: 100%;
    height: 26px;
    top: 0;
    left: 0;
}
