a {
    text-decoration: none;
}
a.nav:link,a.nav:visited,a.nav:active {
    font-size: 20px;
}
a.nav:hover {
    color: whitesmoke;
    font-size: 22px;
}
nav.nav {
    background-color: blue;
    position: fixed;
    width: 100%;
}
